<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chelib.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>chelibTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>pdfDocumentTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>pdfFileTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>pdfRenderTest.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90332E941A51B20A00629EB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90332EAE1A51B20A00629EB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>906EECD41A680F7100509D74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909E11AB175453EF00540539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909E11B91754549A00540539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909E11CA1754555D00540539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909E11D8175455DE00540539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909E11E51754568B00540539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909E11F417545A5000540539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>909E120217545BA700540539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C37C8D17534E58005D9C8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C5373717587FF10014AC65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C53758175881B40014AC65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C9F9CB1A4EC8040043194A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90C9F9E61A4EC8040043194A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90DF0A8F1C113CB800FBCEEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90DF0AA61C113DFA00FBCEEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
